<footer class="bg-light text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1 facebook" href="" role="button">
            <i class="fa fa-facebook-f"></i>
        </a>
  
        <a class="btn btn-primary btn-floating m-1 twitter" style="background-color: #55acee;" href="" role="button">
            <i class="fa fa-twitter"></i>
        </a>
  
        <a class="btn btn-primary btn-floating m-1 google" href="" role="button">
            <i class="fa fa-google"></i>
        </a>
  
        <a class="btn btn-primary btn-floating m-1 instagram" href="" role="button">
            <i class="fa fa-instagram"></i>
        </a>
  
        <a class="btn btn-primary btn-floating m-1 linkedin" href="" role="button">
            <i class="fa fa-brands fa-linkedin"></i>
        </a>
        <a class="btn btn-primary btn-floating m-1 github" href="" role="button">
            <i class="fa fa-github"></i>
        </a>
      </section>
    </div>
    <div class="text-center text-black p-3 copyright">
      © 2020 Copyright:
      <a class="text-black" href="">ToLearn.com</a>
    </div>
  </footer>