<div class="container m-1">
    <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="jumbotron bg-light">
              <h1 class="display-4 text-warning">To Learn!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <form class="form-inline  my-2 my-lg-0 col-4">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <br>
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
        </div>


        <div class="col-lg-4">

            <div>
                <button type="button" class="list-group-item list-group-item-action bg-warning" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    Category
                </button>
            </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <div class="collapse show" id="data">
                    <a href="#" class="list-group-item list-group-item-action">HTML</a>
                    <a href="#" class="list-group-item list-group-item-action">CSS</a>
                    <a href="#" class="list-group-item list-group-item-action">JS</a>
                    <a href="#" class="list-group-item list-group-item-action">Angular</a>
                    <a href="#" class="list-group-item list-group-item-action">Node JS</a>    
                </div>
              </div>

            <!-- <div class="list-group">
                <a data-toggle="collapse" href="#data" class="list-group-item list-group-item-action bg-warning">
                  Category
                </a>
            </div> -->
        </div>

      </div>
      
</div>