<div class="text-center m-5">
    <h3>Review</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quos quaerat? Earum repellat minima rerum quas architecto, laborum quasi nemo repudiandae incidunt commodi nostrum fuga! Eius repudiandae eum ducimus explicabo?</p>
</div>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper carousel-item active">
      <img src="assets/imags/img1.jpg" alt="Random first slide" class="d-block w-100">
    </div>
    <div class="carousel-caption back-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/imags/img3.jpg" alt="Random second slide" class="d-block w-100">
    </div>
    <div class="carousel-caption back-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/imags/img6.jpg"  alt="Random third slide" class="d-block w-100">
    </div>
    <div class="carousel-caption back-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
